.custom-nav-header {
    font-family: "Lucida Console", "Courier New", monospace;
}
body {
    background-color: black;
}

.home-content {
    margin-top: 50px;
}

.input_info {
    border: 1px solid white;
}

.activity_info {
    border: 1px solid white;
}

.results-header-sub {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.results-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.molinfo-header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fing-imp-header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub-image-container {
    display: flex;
    justify-content: center;
}
